# =========================================
# DEPENDANCES NODE.JS
# =========================================
node_modules/


# =========================================
# VARIABLES D'ENVIRONNEMENT
# =========================================
.env
.env.*
!.env.example


# =========================================
# FICHIERS UPLOADÉS PAR LES UTILISATEURS
# =========================================
backend/uploads/
uploads/


# =========================================
# FICHIERS DE BUILD
# =========================================
dist/
build/
.vite/


# =========================================
# LOGS
# =========================================
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


# =========================================
# IDE / EDITEURS
# =========================================
.vscode/
.idea/


# =========================================
# SYSTEME
# =========================================
.DS_Store
Thumbs.db
desktop.ini